<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>graphite-metrics Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="graphite-metrics.html">

</head>
<body unresolved>

  <p>An example of using <code>&lt;graphite-metrics></code>:</p>

  <template is="auto-binding">
    <p>Note that this demo doesn't really work as it requires a valid Graphite server and target.</p>
    <graphite-metrics baseUri="https://graphite.example.com"
                      target="ganglia.__SummaryInfo__.requests_latency-MyApp.sum"
                      since="{{timeStart}}"
                      until="{{timeEnd}}"
                      sink="{{data}}"></graphite-metrics>
  </template>

</body>
</html>
